input[type="radio"] {
  opacity: 0;
}

.radio-form label::before,
.radio-form input[type=radio]:disabled+label::before {
  content: "";
  position: absolute;
  background-color: #F5F5F5;
  margin-top: 4px;
  left: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid #B6B6B6;
  border-radius: 50%;
}

.radio-form input[type=radio]:disabled+label::before {
  background-color: #F2F2F2;
  border: 1px solid #E8E8E8;
}

.radio-form label:hover::before {
  background-color: #E9E9E9;
}

.radio-form input[type=radio]:checked+label::after,
.radio-form input[type=radio]:checked:disabled+label::after,
.radio-form input[type=radio]:not([disabled]):active+label::after {
  content: "";
  position: absolute;
  margin-top: 7px;
  left: 13px;
  background-color: black;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
}

.radio-form input[type=radio]:checked:disabled+label::after {
  background-color: #A1A1A1;
  border: 1px solid #A1A1A1;
}

.radio-form input[type=radio]:disabled+label {
  color: #D0D0D0;
}

.radio-form input[type=radio]:focus+label::before {
  border: 1px solid #589CDC;
}

.radio-form input[type=radio]:not([disabled]):active+label::before {
  background-color: #c4c4c4;
}