.nav{
  border: 4px double #B2BCC5;
  padding: 15px 32px;
  display: inline-block;
}

ul li:not(:first-child)::before {
  content: "♦";
  margin: 0 12px;
}

li{
  list-style-type: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: black;
}

.active{
  font-weight: bold;
}

a:hover{
  color:#3072C4;
}